@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
  background: rgb(184, 164, 135);
}

.App {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 62.5%;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  width: 90%;
}

h1 {
  font-size: 3rem;
  margin: 0;
  padding: 10px 0; 
}

/* form styling  */

.search input{
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
  background-color: white;
  color: black;
  border: 2px solid black; 
  padding: 5px;
}

.search button {
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
  border: none; 
  background: black;
  color: white;
  margin-left: 10px;
  padding: 5px;
}

.search button:hover {
  background: rgb(73, 71, 71);
}

.search button:active {
  background: black;
}

.radioButtons {
    font-size: 2rem;
}

.radioButtons input {
  width: 25px;
  height: 25px;
  margin: 10px;
}

/* list item styling here  */

ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

li {
  list-style-type: none;
  background: rgb(212, 193, 169);
  width: 30%;
  margin: 10px;
  border: solid 2px black;
  
}
/* can tab through the list items for accessibility  */

li:active,
li:focus {
    transform: scale(1.1);
    box-shadow: 2px 2px 1px 2px black;;
    padding: 5px;
}

.container {
  display: flex;
}

h2 {
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

.photo {
  width: 25%;
  margin-left: 10px;
}

.photo img {
  width: 100%;
}

.info {
  font-family:'Montserrat', sans-serif;
  font-size: 1rem;
  width: 75%;
}

.info p {
  padding: 0;
  margin: 0;
}


/* media queries */

@media (max-width: 768px) {

li {
  width: 40%;
}

}

@media (max-width: 480px) {

  ul {
    flex-direction: column;
  }

  li {
    width: 100%;
    margin: 10px 0 auto;
  }

  .search button {
    margin-top: 10px;
  }

  .radioButtons {
    font-size: 1.6rem;
}

}


